In [34]:
import pandas as pd

df_itviec = pd.read_json(
    "itviec_enriched.jsonl",
    lines=True
)

df_itviec.head()

,url,job_title,work_model,address,required_skills,time_posted_raw,job_description,your_skills_experience,company_name,company_url,...,employment_benefits,year,month,day,job_level,experience_years,skills,normalized_level,normalized_exp_years,normalized_skills
0,https://itviec.com/it-jobs/senior-backend-deve...,Senior Backend Developer (Java),At office,"Vinamilk Tower, 10 Tan Trao St., Tan Phu Ward....","[Java, Spring Boot, PostgreSql, AWS]",2025-12-26,"As a backend engineer, you will be working wit...",Must Have\nBachelor in Computer Sciences or re...,Vinamilk,https://itviec.com/companies/vinamilk,...,[Competitive salary and benefits on Top in Vie...,2025.0,12.0,26.0,None,0.0,"[Java, Spring Boot, PostgreSql, AWS]",NaN,NaN,NaN
1,https://itviec.com/it-jobs/salesforce-develope...,Salesforce Developer (All level) | Up to 55M VND,At office,"Dong Nhan Building, 90 Nguyen Dinh Chieu, Da K...","[Salesforce, Japanese, English, Apex]",2025-12-13,Use Salesforce APIs to integrate Salesforce wi...,Must have: \nBachelor’s Degree in Computer Sci...,Hybrid Technologies,https://itviec.com/companies/hybrid-technologies,...,[Phúc lợi – Mức lương cạnh tranh và nhiều gói ...,2025.0,12.0,13.0,None,0.0,"[Salesforce, Japanese, English, Apex]",NaN,NaN,NaN
2,https://itviec.com/it-jobs/senior-reactjs-engi...,Senior ReactJS Engineer - HCM,At office,"The Hallmark, 15 Tran Bach Dang, Thu Thiem War...","[ReactJS, TypeScript, NodeJS, JavaScript]",2025-11-28,"By applying for the above position, you accept...",6 years’ + experience working in Software Deve...,NAB Innovation Centre Vietnam,https://itviec.com/companies/nab-innovation-ce...,...,"[Attractive salary and benefits, 20-day annual...",2025.0,11.0,28.0,None,0.0,"[ReactJS, TypeScript, NodeJS, JavaScript]",NaN,NaN,NaN
3,https://itviec.com/it-jobs/net-developer-engli...,.Net Developer (English - Onboard after Tet),Hybrid,"106 Nguyen Van Troi Street, Phu Nhuan, Ho Chi ...","[.NET, Web API, Entity Framework, C#, Azure, SQL]",2025-12-05,We are seeking skilled .NET Developers with a ...,"Bachelor's degree in Computer Science, Informa...",Topicus Vietnam,https://itviec.com/companies/topicus-vietnam,...,"[Attractive salary (annual salary review)., Fi...",2025.0,12.0,5.0,None,0.0,"[.NET, Web API, Entity Framework, C#, Azure, SQL]",NaN,NaN,NaN
4,https://itviec.com/it-jobs/fullstack-developer...,"FullStack Developer (Location: Da Nang, Can Th...",Hybrid,"6 Tân Cảng, Binh Thanh, Ho Chi Minh","[Java, English, ReactJS, Angular]",2025-12-20,Join us as a Senior Full-Stack Developer to bu...,Must Have\nExperience: 5+ years of professiona...,Dirox,https://itviec.com/companies/dirox,...,[Competitive salary (and paid in full during p...,2025.0,12.0,20.0,None,0.0,"[Java, English, ReactJS, Angular]",NaN,NaN,NaN

In [35]:
df_itviec['normalized_level'].value_counts()

normalized_level
Junior                      254
Senior                      174
Lead                         23
Manager                      12
Fresher                       9
Expert                        2
Director                      2
All Level                     1
Delivery Lead                 1
Product Owner                 1
Staff                         1
QA QC                         1
Middle                        1
Freelance                     1
Automation & AI Engineer      1
Data Scientist                1
Founding                      1
Architect                     1
Fresher/Junior                1
Mid-Senior                    1
Mid-level                     1
Head                          1
Name: count, dtype: int64

In [30]:
import json

with open("job_details.json", "r", encoding="utf-8") as f:
    raw = json.load(f)

df_topcv = pd.DataFrame(raw["jobs"])
df_topcv.head()

,url,crawled_at,job_title,salary,province,experience_years,deadline,job_description,job_requirements,job_benefits,...,job_level,academic_level,job_type,quantity,tags_role,tags_skill,tags_location,company_url,success,error
0,https://www.topcv.vn/viec-lam/game-tester-khon...,2025-12-23T05:23:19.771242,Game Tester (Không Yêu Cầu Kinh Nghiệm),8 - 13 triệu,Hà Nội,Không yêu cầu,10/01/2026,"Tìm hiểu, nắm bắt yêu cầu dự án và tham gia xâ...",Sinh viên năm cuối ngành CNTT hoặc mới tốt ngh...,"Mức lương Gross top đầu thị trường, được revie...",...,Nhân viên,Cao Đẳng trở lên,Toàn thời gian,5 người,"[Công nghệ Thông tin, Software Testing, Game T...",[],"[Hà Nội, Phường Yên Hòa - Hà Nội]",https://www.topcv.vn/cong-ty/joybit/121647.html,True,NaN
1,https://www.topcv.vn/viec-lam/quality-control-...,2025-12-23T05:23:26.101860,Quality Control (Japanese N4) / Chuyên Viên Ki...,10 - 25 triệu,Hồ Chí Minh (mới),2 năm,08/01/2026,"Independently read, analyze, and comprehend Ja...","Strong knowledge of Database concepts, includi...",Competitive salary and benefits including Prem...,...,Nhân viên,Cao Đẳng trở lên,Toàn thời gian,1 người,"[Công nghệ Thông tin, Software Testing, Softwa...","[Java, SQL, PLSQL, Root Cause Analysis, Relati...","[Hồ Chí Minh, Phường Tân Bình - Hồ Chí Minh]",https://www.topcv.vn/cong-ty/cong-ty-tnhh-isb-...,True,NaN
2,https://www.topcv.vn/viec-lam/chuyen-vien-phan...,2025-12-23T05:23:33.105630,Chuyên Viên Phân Tích Nghiệp Vụ Và Điều Phối D...,Thoả thuận,Hà Nội,1 năm,10/01/2026,Phân tích nghiệp vụ:\n• Thu thập và phân tích ...,• Tốt nghiệp Đại học trở lên chuyên ngành Kinh...,• Mức lương: Cạnh tranh\n• Môi trường làm việc...,...,Nhân viên,Đại Học trở lên,Toàn thời gian,1 người,"[Công nghệ Thông tin, Product Management, Busi...",[],"[Hà Nội, Phường Đống Đa - Hà Nội]",https://www.topcv.vn/cong-ty/cong-ty-co-phan-t...,True,NaN
3,https://www.topcv.vn/viec-lam/backend-develope...,2025-12-23T05:23:39.249492,Backend Developer Công Ty IT Hàn Quốc,Thoả thuận,Hà Nội,2 năm,10/01/2026,"ORBRO, một công ty startup IT đang trên đà phá...",Kỹ năng cần thiết\n• Kinh nghiệm thiết kế và t...,• Lương: Thỏa thuận.\n• Tham gia các hoạt động...,...,Nhân viên,Đại Học trở lên,Toàn thời gian,1 người,"[Công nghệ Thông tin, Software Engineering, Ba...","[REST API, Websocket, Backend, Multithreading,...","[Hà Nội, Phường Cầu Giấy - Hà Nội]",https://www.topcv.vn/cong-ty/orbro-inc/220781....,True,NaN
4,https://www.topcv.vn/viec-lam/lap-trinh-vien-w...,2025-12-23T05:23:45.679398,"Lập Trình Viên Web (C#, .Net) - Từ 1 Năm Kinh ...",25 - 30 triệu,Hà Nội,1 năm,08/01/2026,Tham gia phát triển các sản phẩm phục vụ cho h...,Tốt nghiệp ĐH/CĐ chuyên ngành CNTT hoặc các ch...,"Tiên phong công nghệ, uy tín\nMISA là doanh ng...",...,Nhân viên,Đại Học trở lên,Toàn thời gian,5 người,"[Công nghệ Thông tin, Software Engineering, Fu...","[C#, .net Framework .net Core, Html/Css/Javasc...","[Hà Nội, Phường Xuân Đỉnh - Hà Nội, Phường Cầu...",https://www.topcv.vn/cong-ty/cong-ty-co-phan-m...,True,NaN

In [38]:
df_topcv['job_level'].value_counts(dropna=False)

job_level
None                  798
Nhân viên             548
Trưởng nhóm           285
Thực tập sinh          54
Quản lý / Giám sát     30
Trưởng/Phó phòng       30
Giám đốc                4
NaN                     3
Name: count, dtype: int64